<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Registration Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="{{ url_for('static', filename='style_signup.css') }}">

<script type="text/javascript">

  $(document).ready(function(e){

          $("#register").click(function(e){
             e.preventDefault();
             sign_up(e);
          });
        });

 function sign_up(e)
{
    var email = document.getElementById('email').value;
    var pass = document.getElementById('pass').value;
    var con_pass = document.getElementById('con_pass').value;
    if(pass == con_pass){
        var formData = new FormData();
        formData.append("email_id", email);
        formData.append("password", pass);
        e.preventDefault();
    $.ajax
    ({
        url: "http://127.0.0.1:5000/sign_up",
        type: "POST",
        data: formData,
        contentType: false,
        cache: false,
        processData: false,
        success: function(result)
        {
            if (result.status == "failed")
            {
                 document.getElementById("error").innerHTML = result.error;
            }
            else if (result.status== "success")
            {
                 localStorage.login="login";
                  localStorage.email_id=email;
                 window.location.href="http://127.0.0.1:5000/";
            }
        },
        error: function()
        {
          document.getElementById("error").innerHTML = "Enter info again";
        }
    });
    }else{
    alert("Enter Password again");
    }
 }



</script>


</head>
<body>
 <center> <p><span id="error"></span></p> </center>
<div class="signup-form">
    <form id="signUpForm" method="post">
		<h2>Register</h2>
		<p class="hint-text">Create your account. It's free and only takes a minute.</p>

        <div class="form-group">
        	<input type="email" class="form-control" name="email" id= "email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" id= "pass" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="confirm_password" id="con_pass" placeholder="Confirm Password" required="required">
        </div>
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <button type="submit" id="register" name= "register" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a href="{{ url_for('signInGui') }}">Sign in</a></div>
</div>
</body>
</html>